<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Email  -->
    <add key="FromEmailAddress" value="Notifications@justserviceinc.com"/>
    <add key="FromEmailPassword" value="Rack6451"/>
    <add key="FromEmailSMTP" value="smtp.office365.com"/>
    <add key="FromEmailPort" value="587"/>

    <!-- Mode -->
    <!-- Valid modes are:  -->
    <!-- debug : will only email the Executive email addresses -->
    <!-- live: will only email the customer primary and secondary contacts -->
    <!-- monitor: will email both the customers primary contact, secondary contact (if defined) and ExecutiveEmailAddresses -->
    <add key="Mode" value="debug"/>

    <!-- Monitor Email Address  -->
    <!-- required when the Mode is 'monitor'-->
    <!-- Separate multiple email addresses with a ; -->
    <add key="ExecutiveEmailAddresses" value="markh@justserviceinc.com"/>

    <!-- Domain:  JUSTSERVICEINC.local -->
    <!-- DB USER: MARKH, PWD: JUST042717  -->
    <!-- network:  administrator, pwd:  WWW.justserviceinc.com! -->

    <add key="Uid" value="Markh"/>
    <add key="Pwd" value="Just042717"/>
  </appSettings>
</configuration>
